BODY {
	SCROLLBAR-FACE-COLOR: #87CEFA;	
	SCROLLBAR-HIGHLIGHT-COLOR: #B0C4DE;
	SCROLLBAR-SHADOW-COLOR: #00BFFF;
	SCROLLBAR-3DLIGHT-COLOR: #6495ED;
	SCROLLBAR-ARROW-COLOR: #0000CD;
	SCROLLBAR-TRACK-COLOR: #B0E0E6;
	SCROLLBAR-DARKSHADOW-COLOR: #0000CD
}
TD {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Tahoma, Arial
}
IMG.pic {
	BORDER-RIGHT: #b2c0d2 1px solid; BORDER-TOP: #b2c0d2 1px solid; BORDER-LEFT: #b2c0d2 1px solid; BORDER-BOTTOM: #b2c0d2 1px solid
}
.bl1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #4570a9
}
.bl2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #68a9ff
}
.bl3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #387dd9
}
.bgr1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #7b9c60
}
.bgr2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #e27103
}
.bgr3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #bc4bc3
}
.bgr4 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #c68e31
}
.ttxt {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #8a531b; FONT-FAMILY: Verdana
}
.cop {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana
}
.ltxt1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #6b7079
}
.ltxt2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #6b7079
}
.rtxt1 {
	FONT-SIZE: 11px; COLOR: #896400
}
.rtxt2 {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana
}
.rtxt3 {
	FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: Verdana
}
INPUT.fr1 {
	BORDER-RIGHT: #ffa400 1px solid; BORDER-TOP: #ffa400 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #ffa400 1px solid; COLOR: #000000; BORDER-BOTTOM: #ffa400 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; BACKGROUND-COLOR: #ffffff
}
INPUT.fr2 {
	BORDER-RIGHT: #a5acb2 1px solid; BORDER-TOP: #a5acb2 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #a5acb2 1px solid; COLOR: #000000; BORDER-BOTTOM: #a5acb2 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; BACKGROUND-COLOR: #ffffff
}
.subm {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: 1px solid; COLOR: black; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; BACKGROUND-COLOR: #ffffff
}
.formt {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #3333cc; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; BACKGROUND-COLOR: #ffffff
}
TEXTAREA.ft1 {
	BORDER-RIGHT: #a5acb2 1px solid; BORDER-TOP: #a5acb2 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #a5acb2 1px solid; COLOR: #000000; BORDER-BOTTOM: #a5acb2 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; BACKGROUND-COLOR: #ffffff
}
SELECT {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 10px; BORDER-LEFT: 1px solid; COLOR: #000000; BORDER-BOTTOM: 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; BACKGROUND-COLOR: #ffffff
}
INPUT.btn {
	COLOR: #cfd6ef
}
A {
	COLOR: black; TEXT-DECORATION: underline
}
A:visited {
	COLOR: black; TEXT-DECORATION: underline
}
A:hover {
	COLOR: black; TEXT-DECORATION: none
}
A:active {
	COLOR: black; TEXT-DECORATION: none
}
A.mnu {
	FONT-SIZE: 11px; COLOR: #080f38; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.mnu:visited {
	FONT-SIZE: 11px; COLOR: #080f38; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.mnu:hover {
	FONT-SIZE: 11px; COLOR: #080f38; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.mnu:active {
	FONT-SIZE: 11px; COLOR: #080f38; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
A.bmnu {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: black; TEXT-DECORATION: none
}
A.bmnu:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: black; TEXT-DECORATION: none
}
A.bmnu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ad4e08; TEXT-DECORATION: none
}
A.bmnu:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ad4e08; TEXT-DECORATION: none
}
A.lmnu {
	FONT-SIZE: 11px; COLOR: #6b7079; TEXT-DECORATION: none
}
A.lmnu:visited {
	FONT-SIZE: 11px; COLOR: #6b7079; TEXT-DECORATION: none
}
A.lmnu:hover {
	FONT-SIZE: 11px; COLOR: #6b7079; TEXT-DECORATION: underline
}
A.lmnu:active {
	FONT-SIZE: 11px; COLOR: #6b7079; TEXT-DECORATION: underline
}
A.rmnu {
	FONT-SIZE: 11px; COLOR: #896400; TEXT-DECORATION: none
}
A.rmnu:visited {
	FONT-SIZE: 11px; COLOR: #896400; TEXT-DECORATION: none
}
A.rmnu:hover {
	FONT-SIZE: 11px; COLOR: #896400; TEXT-DECORATION: underline
}
A.rmnu:active {
	FONT-SIZE: 11px; COLOR: #896400; TEXT-DECORATION: underline
}
A.rmnu1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: black; TEXT-DECORATION: none
}
A.rmnu1:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: black; TEXT-DECORATION: none
}
A.rmnu1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: black; TEXT-DECORATION: underline
}
A.rmnu1:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: black; TEXT-DECORATION: underline
}
A.rmnu2 {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu2:visited {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu2:hover {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.rmnu2:active {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.rmnu3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #4570a9; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu3:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #4570a9; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu3:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #4570a9; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.rmnu3:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #4570a9; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.rmnu4 {
	FONT-SIZE: 10px; COLOR: #4570a9; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu4:visited {
	FONT-SIZE: 10px; COLOR: #4570a9; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu4:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #e27103; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu4:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #e27103; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu5 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #387dd9; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu5:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #387dd9; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu5:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #e27103; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu5:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #e27103; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu6 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #7b9c60; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu6:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #7b9c60; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu6:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #7b9c60; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.rmnu6:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #7b9c60; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.rmnu7 {
	FONT-SIZE: 10px; COLOR: #7b9c60; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu7:visited {
	FONT-SIZE: 10px; COLOR: #7b9c60; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu7:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #e27103; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu7:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #e27103; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu8 {
	FONT-SIZE: 11px; COLOR: #bc4bc3; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu8:visited {
	FONT-SIZE: 11px; COLOR: #bc4bc3; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu8:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #bc4bc3; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu8:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #bc4bc3; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu9 {
	FONT-SIZE: 10px; COLOR: #bc4bc3; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu9:visited {
	FONT-SIZE: 10px; COLOR: #bc4bc3; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu9:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #e27103; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu9:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #e27103; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu10 {
	FONT-SIZE: 11px; COLOR: #c68e31; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu10:visited {
	FONT-SIZE: 11px; COLOR: #c68e31; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu10:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #e27103; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu10:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #e27103; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu11 {
	FONT-SIZE: 10px; COLOR: #c38a2c; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu11:visited {
	FONT-SIZE: 10px; COLOR: #c38a2c; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu11:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #e27103; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.rmnu11:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #e27103; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
