/* Color of Footer Area */
.PPFooterTbl
{ BACKGROUND-COLOR: #ffffff; }
/* Color of line break */
.PPLineBreak
{ BACKGROUND-COLOR: #999999; }
/* Color of dynamic table */
.PPDynamicTbl
{ BACKGROUND-COLOR: #eeeee2; }
/* Color of "Don't have a Passport" Area */
.PPNoPassportTbl
{ BACKGROUND-COLOR: #e2e1d8; }
/* Text style of footer text */
.PPFooterTxt
{ COLOR: #000000;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: xx-small; }
.PPFooterTxt A
{ COLOR: #0000ff;
  FONT-SIZE: xx-small;
  TEXT-DECORATION: underline; }
/* Color of Security Key Input Fields */
.PPSecKeyBdr
{ BORDER-STYLE: solid;
  BORDER-WIDTH: 1px;
  BORDER-COLOR: #000000; }
/* Text style formating of the field label. */
.PPLabel
{ COLOR: #000000;
  FONT-FAMILY: Verdana, Helvetica, sans-serif;
  FONT-SIZE: xx-small;
  FONT-WEIGHT: bold; }
/* Text style of module help link */
.PPHelp A
{ COLOR: #ffffff;
  FONT-FAMILY: verdana,arial,helvetica,sans-serif;
  FONT-SIZE: xx-small;
  TEXT-DECORATION: underline;
  FONT-WEIGHT: bold; }
/* Text style of small help text. */
.PPHelpText
{ COLOR: #000000;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: xx-small; }
.PPHelpText A
{ COLOR: #0000ff;
  FONT-SIZE: xx-small;
  TEXT-DECORATION: underline; }
/* SignInName Text */
.PPSignInName
{ COLOR: #000000;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: x-small;
  FONT-STYLE: italic;
  FONT-WEIGHT: bold; }
/* Text style formating of the fields error text bold. */
.PPErrBoldTxt
{ COLOR: #ff0000;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: x-small;
  FONT-WEIGHT: bold; }
/* Text style formating for signup button. */
.PPRSbmtBtn
{ FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: x-small;
  FONT-WEIGHT: bold; }
/* Color of Page */
.PPPageBG
{ BACKGROUND-COLOR: #ffffff; }
/* Color of module border */
.PPModuleBrd
{ BACKGROUND-COLOR: #0033cc; }
/* Color of module title table */
.PPModuleTtlTbl
{ BACKGROUND-COLOR: #0033cc; }
/* Text style of module title text */
.PPModuleTtlTxt
{ COLOR: #ffffff;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: medium;
  FONT-WEIGHT: normal; }
/* Text style of descriptive text. */
.PPDesTxt
{ COLOR: #000000;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: x-small; }
.PPDesTxt A
{ COLOR: #0000ff;
  FONT-SIZE: x-small;
  TEXT-DECORATION: underline; }
/* Text style of module help link */
.PPHelpTxt A
{ COLOR: #0000ff;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: x-small;
  TEXT-DECORATION: underline;
  FONT-WEIGHT: bold; }
/* Text style formating of the field label. */
.PPRLabelText
{ COLOR: #000000;
  FONT-FAMILY: Verdana, Helvetica, sans-serif;
  FONT-SIZE: xx-small;
  FONT-WEIGHT: bold; }
/* Text style formating of the input box. */
.PPRField
{ COLOR: #000000;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: x-small;
  BACKGROUND-COLOR: #ffffff; }
/* Text style and color of Help Text area. */
.PPHelpTextArea
{ COLOR: #000000;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: xx-small; }
.PPHelpTextArea A
{ COLOR: #0000ff;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-SIZE: xx-small; }
/* Text style formating of the field label. */
.PPSmallDesText
{ COLOR: #000000;
  FONT-FAMILY: Verdana, Helvetica, sans-serif;
  FONT-SIZE: xx-small; }
.PPSmallDesText A
{ COLOR: #0000ff;
  FONT-FAMILY: Verdana, Helvetica, sans-serif;
  FONT-SIZE: xx-small;
  FONT-WEIGHT: bold;
  TEXT-DECORATION: underline; }
/* Set the background color of the page.*/
BODY
{  BACKGROUND-COLOR: #ffffff; }

   a:link { color:#ffffff; text-decoration:underline }
   a:hover { color:#000000; text-decoration: none }
   a:visited { color:#ffffff; text-decoration: underline }
